venv/
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg
*.whl
*.coverage
.coverage.*
*.mypy_cache/
*.pytest_cache/
*.tox/
*.ipynb_checkpoints/
*.DS_Store
*.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swp
chroma_db1/
chroma_db2/